body{
    /*font-family: 'Noto Sans', 'Source Sans Pro', 'Montserrat', sans-serif;*/
    background-color: #f9f9f9;
    font-weight: 500;
    font-size: 12pt;
}
a.underline{
    text-decoration: underline;
}
.mt-100{
    margin-top: 100px;
}
h1{
    font-size: 30pt;
}
.form-control-white{
    background-color: #fff;
}
.btn{
    font-weight: bold;
}
.btn-white{
    background-color: #fff;
    color: #222;
    border: 1px solid #ddd;
}
#keyboard{
    position: relative;
    width: 100%;
    height: 280px;
    box-shadow: 0 5px 7px -5px rgba(0,0,0,0.3);
}
.shadow-ui{
    box-shadow: 0 5px 15px -15px rgba(0,0,0,0.3);
}
.minimize-btn, #jqk-toggle-btn{
    display: none;
}
#jq-keyboard{
    padding-top: 10px!important;
    padding-bottom: 5px!important;
    max-height: 500px!important;
    position: initial!important;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}
.result-card{
	box-shadow: 0 5px 7px -5px rgba(0,0,0,0.3);
}
#result.loading::before{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background-image: url(../img/ajax-loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px;
    background-color: rgba(255, 255, 255, .5);
}
#result.loading{
    min-height: 113px;
}
.result-row{
    display: none;
}
.random-phrases-kz, .random-phrases-en, .random-phrases-qaz{
    display: none;
}
#result .h4{
    font-weight: bold;
}
#result .translated-word{
    font-family: 'Source Sans Pro', 'Montserrat', 'Nunito', 'Roboto', sans-serif;
    font-size: 12pt;
    margin-bottom: 10px;
}
.translated-word span{
    font-weight: 500;
    color: #8BC34A;
    font-size: 9pt;
    font-style: italic;
}
.input-group-append .fas{
    opacity: .5;
}
.input-group-append .fas:hover{
    opacity: 1;
    cursor: pointer;
}
.banner-right{
    text-align: center;
    height: 450px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 5px 7px -5px rgba(0,0,0,0.3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.minify-keyboard{
    position: absolute;
    right: 30px;
    top: 10px;
    border: 1px solid #ccc;
    z-index: 1000;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #eee;
    padding: 5px 9px;
}
.minify-keyboard.down .fas{
    transform: rotate(180deg);
}
footer{
    border-top: 1px solid #383838;
}
input, select, p{
    font-weight: 500!important;
}
.delete-translated-word, .edit-translated-word, .report-an-error{
    cursor: pointer;
}
#jqk-lang-cont{
    visibility: hidden;
    opacity: 0;
}
#navbarSearchPanel{
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 66px;
    z-index: 1000;
}
.alert-success{
    background-color: #28a745!important;
}
#darkbg{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999;
}
.translate-btn[disabled=disabled]{
    pointer-events: none;
}
.add-translation{
    font-size: 10pt;
}
.clear-filter[filter-color=blue]{
    background: linear-gradient(0deg,rgba(44,44,44,.2),rgb(2, 96, 162));
}
.login-page .page-header:before, .profile-page .page-header:before{
    background-color: transparent!important;
}
.no-underline, .no-underline:hover{
    text-decoration: none;
}

@media(max-width: 768px){
    #navigation .navbar-nav{
        margin-top: 0;
    }
    .nav-item{
        display: inline-block;
    }
    .navbar-nav .sharing-providers{
        display: block;
        text-align: center;
    }
    .navbar-nav .sharing-providers .nav-link{
        display: inline-block;
        margin: 0!important;
    }
    .navbar-nav .button-dropdown{
        display: block;
    }
    .page-header>.content{
        margin-top: 28%;
    }
    input[type='text'],
    input[type='number'],
    textarea {
        font-size: 16px!important;
    }
    h1{
        font-size: 25pt;
    }
    footer li{
        margin-bottom: 20px;
    }
    .jqk-btn:not(.normal){
        display: none;
    }
    #jq-keyboard .btn-row{
        height: initial!important;
    }
    .lang-div button.jqk-btn{
        width: 7%!important;
    }
    .en-lang button.jqk-btn{
        width: 8%!important;
    }
    .lang-div{
        margin-bottom: 30px;
    }
    #keyboard{
        height: initial;
    }
}
@media(min-width: 768px){
    .min-height-90vh{
        min-height: 90vh;
    }
    .min-height-85vh{
        min-height: 85vh;
    }
    .min-height-80vh{
        min-height: 80vh;
    }
    .min-height-75vh{
        min-height: 75vh;
    }
    .min-height-70vh{
        min-height: 70vh;
    }
    .min-height-60vh{
        min-height: 60vh;
    }
    .min-height-50vh{
        min-height: 50vh;
    }
}
.input-group-focus, .input-group-focus input{
    border-color: #e3e3e3!important;
}
#training .report-an-error{
    position: absolute;
    right: 15px;
    top: 15px;
}
#training .edit-translated-word{
    position: absolute;
    right: 45px;
    top: 15px;
}
#scrollUp{
    display: none;
    position: fixed;
    right: 40px;
    bottom: 100px;
    cursor: pointer;
}
a:not(.btn):active, a:not(.btn):visited, a:not(.btn):focus{
    color: #2ca8ff;
}
.navbar-nav.share-bar{
    border-right: 1px solid rgba(255, 255, 255, .4);
}
.card-body.loading::before{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    min-height: 150px;
    background-image: url(../img/ajax-loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px;
    background-color: rgba(255, 255, 255, .5);
}
.training-counter{
    position: absolute;
    left: 10px;
    top: 10px;
}
.report-error-description{
    font-size: 8pt;
}

.sidebar-collapse .navbar-collapse:before{
    background: none;
    background-color: #2ca8ff;
    opacity: 1;
}
.navbar-dark .navbar-toggler{
    border: none;
}
.sidebar-collapse .navbar .navbar-nav{
    min-height: auto;
}
.navbar-brand{
    font-weight: bold!important;
}
.the-word:first-letter{
    text-transform: capitalize;
}
.login-page .card-login {
    max-width: 350px;
}